#oceans {
    border: 2px solid grey;
    empty-cells: show;
    border-collapse: collapse;
}

th {
    font-size: 2em;
    font-weight: bold;
    border-bottom: 3px solid #00ff00;
    padding: 0.5em;
    /* margin: 0.5em; */
}

td {
    border: 1px solid lightgrey;
    padding: 0.5em;
}